body{
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
}
.headingDiv{
    background-image: url("heading.jpg");
    background-repeat: no-repeat, repeat;
    background-position: center;
}
.headingText{
    padding: 10%;
    font-size: 4rem;
    font-family: cursive;
    margin: 0;
}
.paraHeading{
    font-size: 1rem;
    font-family: cursive;
    margin: 0;
    margin-left: 8%;
}
.computer{
    border-radius: 100%;
    width: 25%;
    float: right;
    margin-left: 30px;
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}
.chillies{
    border-radius: 100%;
    width: 25%;
    float: left;
    margin-right: 30px;
}
